

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext');

// mixin for media query
.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}


@thinking-orange: #fb9700;
@memory-green: #86c634;
@attention-blue: #00adee;
@text-color: #999999;
@bold-color: #333333;
@background-fill: #f7f5fa;

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.15;

}

header{
    width: 100%;
}
.header__wrapper {
    padding: 7% 5% 7% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 11%;
    background-color: #fff;

    .screen(768px, 2220px, {
        align-items: flex-end;
    });
}

.header__progress-bar {
    display: none;

    .screen(768px, 2220px, {
        display: block;
        display: flex;
        flex-direction: column;
        width: 70%;
    });

}

.progress-bar__scale{
    width: 100%;
    height: 2px;
    background-color: @text-color;
    position: relative;
}

.progress-bar__range {
    position: absolute;
    background-color: #6039AA;
    height: 2px;
    width: 70px;
}

.progress-bar__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: 0.8rem;
    line-height: 1.5;
    color: @text-color;
}

.progress-bar__item {
    display: flex;
}

.header__login {
    font-size: 0.8rem;
    text-decoration: none;
    color: @text-color;
    text-transform: uppercase;
    width: 30%;

    &:hover {
        color: @bold-color;
    }
    
    .screen(768px, 2220px, {
        width: 10%;
    });

}

.main {
    background-color: @background-fill;
    padding: 7% 5% 2.5% 5%; 
}

.main__wrapper {
    background-color: #fff;
} 

.main__title {
    padding: 5% 1%;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: @bold-color;

     .screen(768px, 2220px, {
        font-size: 1.8rem;
    });
}

.statistic-mobile{
    padding: 5%;

    .screen(768px, 2220px, {
        display: none;
    });
}



// --------------------Desctop Statistic----------
.statistic-desctop {
    display: none;

    .screen(768px, 2220px, {
        display: block;
        display: flex;
        justify-content: space-around;
    });

}

.statistic-circle {
    width: 200px;
    height: 190px;
    margin-top: 3rem;
    position: relative;
}
.circle-svg {
    position: absolute;
    top: -58px;
    left: 24px;
}
.statistic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.info-skills-name {
    margin: 0;
}

.info-scale__value {
    position: absolute;
    bottom: 0;
}
.circle-svg,
.info-skills-value,
.info-scale__value {
    font-size: 1.2rem;
    color: @bold-color;
    margin: 0;
}


.statistic__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistic__item-left {
   width: 90%;

}
.skills-mark {
    align-self: flex-end;
}


.skills-scale__value{
    position: absolute;
    right: 8px;
    bottom: -7px;
    font-size: 1.2rem;
    color: @bold-color;
}
.skills-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.skills-value {
    margin-left: auto;
    font-size: 1.2rem;
    color: @bold-color;
}
.skills-name,
.info-skills-name {
    font-size: 1rem;
    color: @text-color;
}

.skills-scale {
    width: 100%;
    height: 4px;
    position: relative;
}

.range-attention {
    background-color: @attention-blue;
}

.range__memory {
    background-color: @memory-green;
}

.range__intellection {
    background-color: @thinking-orange;
}
.skills-scale__range {
    position: absolute;
    height: 14px;
    width: 53px;
    left: 0;
    top: -7px;
}

.scale__attention {
    background-color: lighten(@attention-blue,30%);
}

.scale__memory {
    background-color: lighten(@memory-green,30%);
}

.scale__intellection {
    background-color: lighten(@thinking-orange,30%);

}

// ---------------DEscription -------------------------
.statistic-description {
    background-color: @background-fill;
    padding: 0.5rem 1rem;
    margin: 3rem 0;

    .screen(768px, 2220px, {
       padding: 1rem;
       margin: 8%;
       display: flex;
       margin-top: 0;
    });
}

.statistic__text {
    line-height: 1.5;

    .screen(768px, 2220px, {
        font-size: 1.2rem;
        color: @bold-color;
        margin: 0 0 0 3rem; 
    });
}

.statistic-offer-desctop {
    display: none;
    .screen(768px, 2220px, {
        display: block;
        display: flex;
        margin: 0 8%;
    });

}
.offer-text,
.number-users {
    color: @text-color;
    font-size: 0.8rem;
    line-height: 1.15;
}
.offer-text {
    float: left;
    width: 50%;
}
// ----------button-----------------------------

.statistic__button {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background: #6039AA;
    transition:all .3s ease-out;
    height: 3.125em;
    padding: 1rem 3.5rem 1em 2.5rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.10), 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 50px;
    margin: 0 auto;
    display: table;

    .screen(768px, 2220px, {
        margin-left: auto;
    });


    &:hover {
        background-color: @attention-blue;
    }

}
.button__arrow {
    position: absolute;
    background: url('../img/shape.svg') no-repeat center;
    right: 22px;
    bottom: 28%;
    height: 18px;
    width: 22px;

;}